<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>タイトル<th>
    <th>内容</th>
  </tr>
  <% @blog.each do |blog|%>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.content %></td>
    <td><%= link_to "ブログ詳細画面へ", blog_path(blog.id)%></td>
    <td><%= link_to "ブログ編集画面へ", edit_blog_path(blog.id)%></td>
    <td><%= link_to "ブログ削除", blog_path(blog.id),method: :delete, data: {confirm : '本当に削除してよいですか？'}%></td>
  </tr>
  <% end %>
</table>
<%= link_to "ブログ作成画面へ", new_blog_path %>